@model Nhom18.Models.Nhanvien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nhanvien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaysinhNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaysinhNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SdtNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SdtNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiachiNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiachiNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailNV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNV">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
