@model IEnumerable<Nhom18.Models.Nhanvien>

@{
    ViewData["Title"] = "Index";
}



<h1 style="text-align:center;" class="w3-animate-right">Danh sách Nhân viên</h1>

<p>
    <a asp-action="Create"  class="w3-btn w3-round-xxlarge w3-button w3-purple">Thêm Nhân viên</a>
</p>
<p>
    <a asp-action="Upload"  class="w3-btn w3-round-xxlarge w3-button w3-purple">Upload ⬆</a>
</p>

    <form asp-controller="Nhanvien" asp-action="Index">
   </p>
        Tiêu đề: <input type="text" name="id" class="w3-button w3-white w3-border w3-border-red w3-round-large" />
        <input type="submit" value="🔎" class="w3-button w3-white w3-border w3-border-red w3-round-large" />
    </p>
</form>
<table   class="w3-table-all w3-card-4">
    <thead>
        <tr  class="w3-hover-black" >
             <th>
                @Html.DisplayNameFor(model => model.MaNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaysinhNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SdtNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiachiNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailNV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="w3-hover-blue">
            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaysinhNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SdtNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiachiNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailNV)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNV" class="w3-button w3-white w3-border w3-border-red w3-round-large" style=" font-weight: 700;">Sửa</a> 
                <a asp-action="Details" asp-route-id="@item.MaNV"class="w3-button w3-white w3-border w3-border-red w3-round-large" style=" font-weight: 700;">Thông Tin</a> 
                <a asp-action="Delete" asp-route-id="@item.MaNV"class="w3-button w3-white w3-border w3-border-red w3-round-large" style=" font-weight: 700;">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
