@model IEnumerable<Nhom18.Models.Hoadon>

@{
    ViewData["Title"] = "Index";
}
@* <h1 class="iphonh1"> Hệ Thống Quản Lí Bán Đồ Điện Tử </h1> *@
<h2 style="text-align:center;">Danh sách Hoá đơn</h2>
<p>
    <a asp-action="Create" style=" text-decoration: none;   color: rgba(0, 0, 0, 0.9); font-weight: 800; ">Thêm Hoá đơn mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Khachhang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sanpham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoluongHD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngayban)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khachhang.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sanpham.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoluongHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngayban)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHD">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaHD">Thông Tin</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHD">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
