@model IEnumerable<Nhom18.Models.Nhaphang>

@{
    ViewData["Title"] = "Index";
}
@* <h1 class="iphonh1"> Hệ Thống Quản Lí Bán Đồ Điện Tử </h1> *@


<h1 style="text-align:center;">Nhập Hàng Mới</h1>

<p>
    <a asp-action="Create"style=" text-decoration: none;   color: rgba(0, 0, 0, 0.9); font-weight: 800; ">Thêm hàng mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDNH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sanpham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoluongSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nhacungcap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nhanvien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaynhapSP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDNH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sanpham.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoluongSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nhacungcap.TenNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nhanvien.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaynhapSP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDNH">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.IDNH">Thông Tin</a> |
                <a asp-action="Delete" asp-route-id="@item.IDNH">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>