@model IEnumerable<Nhom18.Models.Khachhang>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;"class="w3-animate-right">Danh Sách Khách Hàng</h1>

<p>
    <a asp-action="Create" class="w3-btn w3-round-xxlarge w3-button w3-purple">Thêm Khách Hàng Mới</a>
</p>
<table class="w3-table-all w3-card-4">
    <thead>
        <tr  class="w3-hover-black">
            <th>
                @Html.DisplayNameFor(model => model.MaKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaysinhKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiachiKH)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="w3-hover-blue"> 
            <td>
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaysinhKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiachiKH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKH"  class="w3-button w3-white w3-border w3-border-red w3-round-large" style=" font-weight: 700;">Sửa</a> 
                <a asp-action="Details" asp-route-id="@item.MaKH"  class="w3-button w3-white w3-border w3-border-red w3-round-large" style=" font-weight: 700;">Thông Tin</a> 
                <a asp-action="Delete" asp-route-id="@item.MaKH"  class="w3-button w3-white w3-border w3-border-red w3-round-large" style=" font-weight: 700;">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
