@model IEnumerable<Nhom18.Models.Khachhang>

@{
    ViewData["Title"] = "Index";
}
@* <h1 class="iphonh1" > Hệ Thống Quản Lí Bán Đồ Điện Tử </h1> *@
<h2 style="text-align:center;">Danh sách Khách hàng</h2>

<p>
    <a asp-action="Create" style=" text-decoration: none;   color: rgba(0, 0, 0, 0.9); font-weight: 800; color: rgb(61, 11, 11); ">Thêm Khách hàng mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaysinhKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiachiKH)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaysinhKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiachiKH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaKH"  style=" text-decoration: none; color: rgba(0, 0, 0, 0.9); font-weight: 700;  ">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaKH"  style=" text-decoration: none; color: rgba(0, 0, 0, 0.9); font-weight: 700;  ">Thông Tin</a> |
                <a asp-action="Delete" asp-route-id="@item.MaKH"  style=" text-decoration: none; color: rgba(0, 0, 0, 0.9); font-weight: 700;  ">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
